<section id="<%= dom_id(body_measurement_key) %>">
  <%= form_with model: body_measurement_key, class: "space-y-4" do |form| %>
    <% if body_measurement_key.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(body_measurement_key.errors.count, "error") %> prohibited this body_measurement_key from being saved:</h2>

        <ul>
          <% body_measurement_key.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <article class="p-8">
      <dl class="grid grid-cols-3 gap-4">
        <div class="col-span-3">
          <%= form.label :name, class: "text-sm font-medium leading-5 text-ink-light" %>
          <%= form.text_field :name, class: "w-full form-input text-field" %>
        </div>
      </dl>

      <%= form.submit "Save", class: "btn btn-secondary w-full mt-8" %>
    </article>
  <% end %>
</section>
