<p class="my-8 text-center">
  <%= link_to 'â† Diary Entries', diary_entries_path, class: "btn btn-outline-primary-dark" %>
</p>


<section class="mt-8 content-snug">
  <article class="p-4 sm:p-12 sheet">
    <%= render @diary_entry %>

    <div class="mt-16">
      <%= link_to "Edit this Diary Entry", edit_diary_entry_path(@diary_entry) %> |
      <%= link_to "Back to Diary Entries", diary_entries_path %>

      <%= button_to "Destroy this Diary Entry", @diary_entry, method: :delete %>
    </div>
  </article>
</section>

