<!DOCTYPE html>
<html>
  <head>
    <title>Peach</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="flash" class="fixed z-50 w-full mt-4 mb-16 space-y-4 sm:max-w-sm sm:ml-8 sm:mt-12">
      <% flash.each do |name, message| %>
        <%= render partial: "shared/#{name}_flash", locals: { message: message } unless message.nil? %>
      <% end %>
    </div>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
